<launch>
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map" args="304104.18053647294 3900115.7654250246 0 -1.195 0 0 world map" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link1_to_front_wheel" args="0.9 0 0 0 0 0 base_link front_wheel"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link1_to_rear_wheel" args="-0.3 0 0 0 0 0 base_link rear_wheel"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="front_wheel_to_fl_wheel" args="0 -0.1 0 0 0 0 front_wheel front_left_wheel"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="front_wheel_to_fr_wheel" args="0 0.1 0 0 0 0 front_wheel front_right_wheel"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="rear_wheel_to_rl_wheel" args="0 -0.1 0 0 0 0 rear_wheel rear_left_wheel"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="rear_wheel_to_rr_wheel" args="0 0.1 0 0 0 0 rear_wheel rear_right_wheel"/>
</launch>

